<h3 class='types'>
  CUVEE MILLESIME 2009 
  <br>
  100% GRAND CRU, BOUZY</h3>
<div>
  <div class="column">
    <p>
      Notre millésime exprime toute la puissance et la spécificité du Pinot Noir de nos vignes classées Grand Cru, à Bouzy. Vin de caractère, structuré, il saura séduire les amateurs de champagne racé.
    </p>

    <ul>
      <li>Assemblage Chardonnay (20%) et Pinot Noir (80%)</li>
      <li>Faiblement dosé en sucre (6g)</li>
      <li>Absence de fermentation malolactique</li>
      <li>Affinage en cave plus long que la durée légale</li>
    </ul>
  </div>
  <div class="column">
    <p>
      Un champagne qui se prête selon vos envies, aux mets les plus sophistiqués (comme aux associations les plus créatives (pata negra, poissons marinés, cuisine japonaise, mangue et fruits de la passion).
    </p>
  </div>
</div>
