<h3 class='types'>
  CUVEE VINTAGE WINE
  <br>
  100% GRAND CRU, BOUZY</h3>
<div>
  <div class="column">
    <p>
    Our vintage wine combines the power and uniqueness of the Pinot Noir coming from our Grand Cru vineyards in Bouzy. It has got character and structure, that make it irresistible for amateurs of exceptional champagne.
    </p>

    <ul>
      <li>Mix of Chardonnay (20%) and Pinot Noir (80%)</li>
      <li>Low sugar content (6 g)</li>
      <li>No malolactic fermentation</li>
      <li>Cellar aging period longer than the legal standard</li>
    </ul>
  </div>
  <div class="column">
    <p>
      A champagne that will be suitable in any situation, with most sophisticated dishes like foie gras, smoked salmon or gravlax as well as with unusual creative hors-d’oeuvres (pata negra, marinated fish, Japanese cuisine, mango and passion fruit).
    </p>
  </div>
</div>
