<h2>CUVEE EXTRA BRUT - TRADITION</h2>

<p>
  Cette cuvée vous interpellera dans un premier temps par son étonnante fraicheur. Au regard et aux premières notes en bouche, la finesse et l’élégance de bulles vous aiguillera sur un assemblage de chardonnay… avant de révéler en seconde note la charpente du Pinot Noir qui structure ce vin et lui apporte une bonne longueur en bouche.
</p>
<p>
  Assemblage Chardonnay (30%) et Pinot Noir (70%), Faiblement dosé en sucre – Extra Brut (5%) Absence de fermentation malolactique – Affinage en cave plus long que la durée légale.
</p>

<p>Idéal pour vos réceptions et apéritifs, il saura aussi bien s’associer aux mets salés comme sucrés.</p>
