<h3>Notre Histoire</h3>
<p>
  Lucien Collard, descendant d'une famille Champenoise dont les origines liées à l'exploitation viticole sont antérieures à la Révolution Française, est également un véritable passionné qui a réuni une des plus grandes collections d'objets liés au Champagne. Son défi pour ses 2 premières cuvées : allier le fond et la forme avec un champagne de 1ere qualité prenant pour écrin des bouteilles fières de leur Histoire.
</p>

<h4>Le fond</h4>
<p>
  La famille Collard s’est établi dans le grand cru de Bouzy, sur la Montagne de Reims, dès 1919 par le mariage de Lucien Collard à Julia Bara.
</p>
<p>
  Lui, dirige un des plus grand vignoble champenois, elle, est issue d’une famille de vignerons établie dans ce grand cru depuis 1833.
</p>
<p>
  De cette union nait une véritable tradition familiale ou de père en fils se transmet la charge de la gestion de vignoble de Grandes Maisons de Champagne, à laquelle s’ajoute le devoir de préserver leur patrimoine viticole à Bouzy.
</p>
<p>
  Un savoir faire familial viticole reconnu qui a reçu à 2 reprises par la Médaille d’Or de la Corporation des vigneronsons Champenois (1979 - 2015).
</p>

<h4>La forme</h4>

<p>
  Un champagne également fier de son Histoire, où chaque détail de nos bouteilles est pensé dans le respect du XIX e siècle connu pour être la grande époque du Champagne.
</p>
<p>
  Des étiquettes dont l'esthétique et le travail de dorure et marquage à froid sont entièrement réalisées dans des ateliers français.
</p>
<p>
  Un travail qui n’aurait pas pu être fait sans des recherches historiques menés par Lucien Collard, adossé aux archives constituées par sa collection personnelle accumulée aux fils des années.
</p>
<p>
  Une collection en partie présentée par les visuels sur ce site internet, mais que nous souhaitons à terme ouvrir au grand public dans notre authentique maison de Vendangeurs à Bouzy, en cours de restauration. 
</p>
