<div>
  <h2>Our History</h2>

  <p>Lucien Collard comes from a Champagne family who were growing wine in Boozy since the 17th century, even before the advent of champagne itself—the age when wines were not sparkling yet.</p>

  <p>His two first cuvees have been created with an ambition to share his vision of an exceptional champagne made from Pinot Noir.</p>

  <p>In 1919 when Lucien Collard, the grandfather of the current owner of the House, wed Julia Bara, the Collard family settled in Bouzy. He was the manager of one of the greatest vineyards of the Champagne region, she was a daughter of an established wine-making family known in this grand cru since 1833.</p>

  <p>This union gave birth to a true family tradition of passing the management of the Grandes Maisons de Champagne vineyard from father to son and with it that of their own wine-growing legacy in Bouzy.</p>

  <p>Lucien Collard himself is also known as a passionate researcher who has created an outstanding collection of champagne-related objects. Our presentation video, the images on this site and even our label, created basing on the 19th century archives—all of these invite you to discover our private collection and share our passion for the history of champagne.
  </p>
</div>
