<div>
  <h2>Charte de Qualité</h2>
  <p>Viticulteur à Bouzy, village classé grand cru, Lucien Collard s’attache à produire des champagnes de haute qualité, représentatifs du caractère du cépage Pinot Noir.</p>
  <p>Autre que le respect des règles et amendements en vigueur, nous nous efforçons à respecter les points suivants qui nous permettent de <b>limiter au strict minimum l’utilisation des sulfites</b>  :</p>
  <ul>
    <li>
      Le tri des grappes lors de la cueillette
    </li>
    <li>
      Un délai aussi réduit que possible entre le temps de cueillette et celui du pressurage
    </li>
  </ul>
   
  <p>Concernant l’élaboration de nos champagnes, ils sont élaborés <b>uniquement à partir de nos vins de cuvée</b>, c’est à dire le meilleur de la pression. Puis fermentés de façon traditionnelle, <b>sans fermentation malolactique</b>, pour ne pas atténuer le caractère de nos vins et les rendre ainsi aptes à un meilleur vieillissement.</p>
  <p>Dès lors, nos champagnes bénéficient d’une <b>durée d’affinage en cave sensiblement plus longue</b> que les minimas prôner par les normes de l’appellation. </p>
  <p>Soit, 3 ans pour notre Extra Brut (contre 12 mois) et 5 ans pour notre Millésime (contre 3ans).</p>
  <p>Par ces soins spécifiques, nos vins peuvent donc être appréciés avec une <b>addition de liqueur réduite</b>, soit un faible dosage en sucre, pour mieux révéler leur caractère.</p>
</div>