<div>
  <h2>Quality Chart</h2>
  <p>Lucien Collard’s priority as a wine-grower from Bouzy, a Grand Cru village, is to produce top quality champagne with a pronounced character of a Pinot Noir mix.</p>
  <p>In order to minimize the use of sulfites, aside from strictly abiding by the current regulations and amendments, we also strive to conform to the following rules:</p>
  <ul>
    <li>
      Sorting of grapes while picking them
    </li>
    <li>
      The shortest time possible between picking and pressing
    </li>
  </ul>
   
  <p>Our champagnes are created only from our cuvee wine, the very best of the pressing. They are fermented in a traditional way, without malolactic fermentation, to keep their character unchanged and prepare them for better aging.</p>
  <p>Our champagnes also have a much longer cellar time, compared to the one declared by the appellation norms: 3 years for our Extra Brut (12 months being the required minimum) and 5 years for our Vintage Wine (3 years being the required minimum)</p>
  <p>Thanks to this treatment, our wines have a lower sugar content, which helps reveal their unique character. </p>
</div>