
  <h3>Nos Vignes</h3>
   
  <p>Notre champagne a pour spécificité d'être issu de vignes classées "Grand Cru", dont seulement une quinzaine de villages champenois bénéficie de l'appellation. </p>
  <p>Une distinction qui nous est offerte à Bouzy de part la qualité de nos sols et notre exposition géographique optimale, nous permettant d'obtenir un raisin de meilleure qualité aux saveurs reconnaissables. Un raisin de première qualité auquel est attaché le savoir-faire viticole traditionnel reconnu de Lucien Collard, récemment récompensé par la Médaille d'Or de la Corporation des Vignerons de Champagne (2015).</p>
  <p>Un savoir faire ayant pour valeurs de révéler la typicité de nos vignes en respectant la charte de qualité suivante :</p>
  <ul>
    <li>Absence de fermentation malolactique pour ne pas assouplir le gout de nos terroirs</li>
    <li>Un affinage en cave plus long que la durée légale (18mois) pour permettre à nos cépages d’exprimer toute leur puissance et spécificité,   - Un faible dosage en sucre pour ne pas dénaturer le gout de nos champagnes (extra brut)</li>
  </ul>

  <h4>Le Pinot Noir</h4>
  <p>Pour connaitre l’origine des cépages champenois, il nous faut revenir à l’époque de la conquête romaine et des Croisades ou des pieds de vignes venus d’Orient ont été implantés par provignage dans nos régions. Il en résulte à l’époque des centaines de cépages ou chaque cru, ou presque, bénéficie d’un cépage spécifique. Mais ce n’est qu’après le fléau du phyloxéra (19e siècle) où l’on dû arracher tous les pieds de vignes pour les remplacer par des pieds américains où l’on greffa nos cépages d’origine, que le Pinot Noir prit ses lettres de noblesse.</p>
  <p>La vente en gros de plans greffés puis la reproduction In Vitro de la vigne uniformisent progressivement les cépages, sauf… ceux de certains irréductibles ! Lucien Collard en fait parti et replante en 1919 ses pieds de vigne selon une sélection avec un cépage noir issu des pépinières Moet et Chandon dont il dirigeait les vignerons.
  Nos vignes du Cercets et Bout de Four à Bouzy témoignent encore de ce travail et vous offre donc un cépage de Pinot Noir « Grand Cru » unique.</p>
   
  <h4>Bouzy - Grand Cru classé</h4>
  <p>La champagne s'est doté dans les années 1920 d'une échelle des crus officielles qui reprenait les échelles antérieures des courtiers en vins. Cette échelle officielle s'est sensiblement réduite aujourd hui par l'amélioration générale des pratiques. Il reste que certains crus se distinguent nettement, formant la base des très grands assemblages, et sont par conséquent très recherchés. </p>
  <p>Beaucoup d'étiquettes arborent la mention 1er cru et beaucoup sont convaincus que ces 1ers crus ne peuvent être que les meilleurs. Et bien non ! Au dessus des premiers, il y a les grands. Si l'on y réfléchit la notion de 1er est assez scolaire...tandis que celle de grand... donne une toute autre dimension, philosophique, morale que nous vous invitons à découvrir dans notre cuvée Millésime 2009, 100% Grand cru.</p>
