<div>
  <h2>Our Vineyards</h2>
   
  <p>In our cuvees Pinot Noir, the speciality of Bouzy, is balanced by a fraction of Chardonnay, that makes of the mix almost a Blanc de Noir wine—the alchemy at the very origins of champagne.</p>

  <h4>Pinot Noir</h4>

  <p>To get to know the origins of modern varieties of champaign grapes, we will need to go back in time to the age of the Roman conquest and the Crusades when vines coming from the East were adopted in the Champagne region.</p>

  <p>At a certain moment there existed hundreds of types of grapes and each or almost each cru could boast of one of its own. But it only lasted until the phylloxera scourge in the 19th century when wine-growers were forced to get rid of every single vine and replace them with healthy American ones, on which they grafted the original varieties. That is what gave the Pinot Noir its noble standing.</p>

  <p>Later wholesale sales of grafted vines and their following reproduction In Vitro gradually erased the difference between varieties—all of them… except those of the most adamant wine-growers!</p>

  <p>Lucien Collard en fait partie et replante en 1919 ses vignes selon une sélection personnelle avec de cépages noirs issus des pépinières Moet et Chandon dont il dirigeait les vignobles.</p>

  <p>
    Lucien Collard was one of them. Being the manager of Moet et Chandon vineyards, in 1919 he replanted his vines using selected black grapes from their nursery. Our Cercets and Bout de Four vineyards are the living results of this work and offer you a unique mix of Pinot Noir Grand Cru.
  </p>

   
  <h4>Bouzy - Grand Cru classé</h4>

  <p>In the 1920s champagne got its own official scale of Cru that inherited the scale traditionally used for wine. This official scale has been noticeably shortened since then due to general evolution of production techniques. The remaining crus have all important distinctions that are crucial for creating great mixes. That is why they are so sought after.</p>

  <p>
    Many labels proudly carry the Premier Cru title and it is commonly believed that these Premiers Crus are certainly the best. Well, not exactly. Before the Premiers come the Grands Crus. If we think about it, the idea of the First (or Premier) is a little childish whereas the Grand opens a totally different perspective—a whole philosophical dimension that we are opening for you with our Cuvee Millésime 2009, 100% Grand Cru.
  </p>
</div>
