<% meta_description "Legal age" %>
<p>
  To view our site, you must have the legal drinking age stipulated by the current legislation of your country of residence.
</p>
<p>
  If your country does not have such legislation, you must be at least 21 years of age.
  By entering the site, you acknowledge your accord to follow this obligation and you accept the terns of use of this site.
</p>
<br>
<br>
<h2>
  - I confirm having the legal age to <%= link_to 'enter this site', sessions_path %> -
</h2>

