<div class="modal modal-lg show" id="film" tabindex="-1" role="dialog" aria-labelledby="film">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= video_tag 'presentation.mov', autoplay: true, autobuffer: true, controls: true %>
      </div>

    </div>
  </div>
</div>

