<p>
  Pour visiter notre site, vous devez être en âge légal de consommer de l’alcool selon la législation en vigueur dans votre pays de résidence.
</p>
<p>
  S’il n’existe pas de législation à cet égard dans votre pays, vous devez être âgé(e) de 21 ans au moins. En entrant sur le site, vous reconnaissez respecter cette obligation et vous acceptez les conditions d’utilisation du site.
</p>
<br>
<br>
<h2>
  - J'ai l'âge légal pour <%= link_to 'entrer', sessions_path %> -
</h2>

