<p>
  L’une de nos missions clés est de garantir que nos champagnes sont dégustés de façon responsable. Nous devons nous assurer que vous avez bien l’âge requis dans votre pays pour la consommation de boissons alcoolisées avant de vous accueillir chez Lucien Collard. S’il n’existe aucun âge légal pour la consommation de boissons alcoolisées dans votre pays, vous devez être âgé de plus de 21 ans.
</p>
<br>
<br>
<br>
<h2>
  - J'ai l'âge légal pour <%= link_to 'entrer', sessions_path %> -
</h2>

