<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Auriane,</h1>
    <p>
      Voici un nouveau message reçu sur le site :
      <br>
      <%= @message %>
      <br>
      L'adresse que l'utilisateur a indiqué est <%= mail_to @email %>
    </p>
    <p>Youpi !</p>
  </body>
</html>