var downScroll = '<div class="down-scroll pulse" onclick="forceScrollDown()"><span><%= image_tag 'arrow_down.png'%></span></div>';
var upScroll = '<div class="up-scroll pulse" onclick="forceScrollUp()"><span><%= image_tag 'arrow_up.png'%></span></div>';

$(document).ready(function() {
  if ($('#text').length > 0) {
    var textScroll = document.getElementById("text");
    if (textScroll.scrollHeight > $('#text').height()) {
      $('.page').append(downScroll);
    }
  }
})

  function forceScrollDown() {
    var textScroll = document.getElementById("text");
    if (textScroll.scrollHeight != textScroll.scrollTop + $('#text').innerHeight()) {
        textScroll.scrollTop += 100;
      }
    else {
      $('.down-scroll').remove();
      $('.page').append(upScroll);
    }
}

  function forceScrollUp() {
    var textScroll = document.getElementById("text");
    if (textScroll.scrollTop != 0) {
        textScroll.scrollTop -= 100;
      }
    else {
      $('.up-scroll').remove();
      $('.page').append(downScroll);
    }
}