var downScrollMobile = '<div class="down-scroll-mobile" onclick="forceScrollDownMobile()"><span><%= image_tag 'arrow_down.png'%></span></div>';
var upScrollMobile = '<div class="up-scroll-mobile" onclick="forceScrollUpMobile()"><span><%= image_tag 'arrow_up.png'%></span></div>';

$(document).ready(function() {
  if ($('#content-mobile').length > 0) {
    var textScroll = document.getElementById("content-mobile");
    if (textScroll.scrollHeight > $('#content-mobile').height()) {
      $('.page-mobile').append(downScrollMobile);
    }
  }
})

  function forceScrollDownMobile() {
    var textScroll = document.getElementById("content-mobile");
    if (textScroll.scrollHeight != textScroll.scrollTop + $('#content-mobile').innerHeight()) {
        textScroll.scrollTop += 100;
      }
    else {
      $('.down-scroll-mobile').remove();
      $('.page-mobile').append(upScrollMobile);
    }
}

  function forceScrollUpMobile() {
    var textScroll = document.getElementById("content-mobile");
    if (textScroll.scrollTop != 0) {
        textScroll.scrollTop -= 100;
      }
    else {
      $('.up-scroll-mobile').remove();
      $('.page-mobile').append(downScrollMobile);
    }
}