html, body{
    height: 100vh;
    margin: 0;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-image: image-url('backgrounds/7.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover;
    div {
      height: 90%;
    }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #EEE9A1;
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
      font-weight: 800;
    }

a i {
  padding: 0 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilda Display', serif;
}

div, span {
  color: white;
  font-size: 14px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2em;
  color: grey;
  font-size: 13px;
}

.hidden {
  display: none;
}