.false-div-mobile {
  height: 100%;
  width:  100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  background-size: cover;
  background-position: right center;
}

.bg-history-mobile {
  background-image: image-url('backgrounds/mobile/old_bottle_mobile.png');
}

.bg-history1-mobile {
  background-image: image-url('backgrounds/mobile/frame_mobile.png');
}

.bg-philosophy-mobile {
  background-image: image-url('backgrounds/mobile/bottle_neck_mobile.png');
}

.bg-philosophy1-mobile {
  background-image: image-url('backgrounds/mobile/coin_mobile.png');
  background-size: cover;
}

.bg-vineyards-mobile {
  background-image: image-url('backgrounds/mobile/log_mobile.png');
}

.bg-vineyards1-mobile {
  background-image: image-url('backgrounds/mobile/letter_mobile.png');
  background-size: cover;
}

.bg-vineyards2-mobile {
  background-image: image-url('backgrounds/mobile/bottle_closeup_mobile.png');
  background-size: cover;
}

.settings {
  z-index: 1;
  min-height: 100vh;
  height: 100%;
  width: auto !important;
  padding: 3% 5% 1% 5%;
}

.bg {
  background-image: image-url('backgrounds/7.jpg');
  background-size: cover;
}

.home-mobile {
  background-image: image-url('backgrounds/8black.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;
  background-position: 50% 30%;
}

.bg8cap-mobile {
  background-image: image-url('backgrounds/8cap.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;
  background-position: 50% 40%;
}



.bg8blue-mobile {
  background-image: image-url('backgrounds/mobile/8blue_mobile.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;
  background-position: 50% 100%;
}

.bg8black-mobile {
  background-image: image-url('backgrounds/mobile/8black_mobile.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;
  background-position: 50% 100%;
}
