.bg0 {
  background-image: image-url('backgrounds/0.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg1 {
  background-image: image-url('backgrounds/1.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg2 {
  background-image: image-url('backgrounds/2.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg3 {
  background-image: image-url('backgrounds/3.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg4 {
  background-image: image-url('backgrounds/4.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg5 {
  background-image: image-url('backgrounds/5.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg6 {
  background-image: image-url('backgrounds/7.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg7 {
  background-image: image-url('backgrounds/7.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8cap {
  background-image: image-url('backgrounds/8cap.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8blue {
  background-image: image-url('backgrounds/8blue.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8black {
  background-image: image-url('backgrounds/8black.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

