.bg-history1 {
  background-image: image-url('backgrounds/obj/old_bottle.png');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: auto !important;
  padding: 3% 5% 1% 5%;;
}

.bg7 {
  background-image: image-url('backgrounds/7.jpg');
  background-size: cover;
}

.bg8cap {
  background-image: image-url('backgrounds/8cap.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8blue {
  background-image: image-url('backgrounds/8blue.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8black {
  background-image: image-url('backgrounds/8black.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.fond {
  background-image: image-url('backgrounds/obj/old_bottle.png');
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
  width: 50vw;
}
