.bg-history1 {
  background-image: image-url('backgrounds/old_bottle.png');
  background-size: cover;
}

.bg-philosophy1 {
  background-image: image-url('backgrounds/bottle_neck.png');
  background-size: cover;
}

.bg-vineyards1 {
  background-image: image-url('backgrounds/log.png');
  background-size: cover;
}

.bg-history2 {
  background-image: image-url('backgrounds/frame.png');
  background-size: cover;
}

.bg-philosophy2 {
  background-image: image-url('backgrounds/coin.png');
  background-size: cover;
}

.bg-vineyards2 {
  background-image: image-url('backgrounds/letter.png');
  background-size: cover;
}

.bg-vineyards3 {
  background-image: image-url('backgrounds/bottle_closeup.png');
  background-size: cover;
}

.settings {
  min-height: 100vh;
  height: 100%;
  width: auto !important;
  padding: 3% 5% 1% 5%;;
}

.bg7 {
  background-image: image-url('backgrounds/7.jpg');
  background-size: cover;
}

.bg8cap {
  background-image: image-url('backgrounds/8cap.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8blue {
  background-image: image-url('backgrounds/8blue.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;;
}

.bg8black {
  background-image: image-url('backgrounds/8black.jpg');
  background-size: cover;
  padding: 3% 5% 1% 5%;
}

.no-class {
  height: 100%;
}