.padded {
  padding: 3% 5%;
  height: 100vh;
}

#contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

#contact {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 50vh;
  max-width: 55vw;
  align-self: center;
  text-align: center;
}

.new_contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  label {
    color: grey;
    font-weight: 400;
    text-transform: uppercase;
  }
  input, textarea {
    margin: 1%;
    padding: 0.5em;
    width: 100%;
  }
  ol {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ol li {
    display: inline;
    width: 100%;
    overflow: hidden;
  }
  input[type='submit'] {
    border: none;
    background: none;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: end;
    float: right;
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
  }
}

#coordinates {
  width: 50%;
  text-align: left;
  padding-left: 3em;
}

.grey {
  background: none;
  border: none;
  border-bottom: 1px solid white;
}

::-webkit-input-placeholder {
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

:-ms-input-placeholder {
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}



.contact-text-mobile {
  text-align: center;
  font-size: 19px;
  text-decoration: underline;
}
