.padded {
  padding: 3% 5%;
  height: 100vh;
}

#contact-wrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#contact {
  max-height: 50vh;
  max-width: 45vw;
  align-self: center;
  text-align: center;
}

.new_contact {
  display: flex;
  flex-direction: column;

  input, textarea {
    margin: 1%;
    padding: 0.5em;
  }
  input  {
    width: 45%;
  }
  textarea {
    width: 96%;
  }
  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
  }
  ol li {
    display: inline;
  }
  input[type='submit'] {
    border: none;
    background: none;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: end;
    float: right;
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
  }
}

.grey {
  background-color: grey;
  border: none;
}

::-webkit-input-placeholder {
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

:-ms-input-placeholder {
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
}

.rotate {
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

.intro {
  color: #EEE9A1;
  font-style: italic;
}