#header {
display: flex;
justify-context: space-around;
text-align: center;
div {
  flex-grow: 1;
}
}

.wrapper {
    flex: auto;
}

#navbar {
  height: 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  span {
    flex-grow: 1;
  }
}

