#header {
  display: flex;
  flex-direction: row;
  height: 15%;
  div {
    flex-grow: 1;
  }
}

.logo {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  a {
    height: 100%;
  }
  a img {
    height: 100%;
    width: auto;

  }
}

.languages {
  display: flex;
  justify-content: flex-end;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
}


#navbar {
  height: 3%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  span {
    flex-grow: 1;
    color: #EEE9A1;
  }
  padding-bottom: 1%;
}

#legal-mention {
  height: 1vh;
  color: gray;
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;

  p {
    margin: 0;
    text-align: center;
  }
}

#welcome {
  justify-content: space-between;
}

#welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 4vh;
  padding: 10vh 10vw 0 0;
}

#welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0 35vw 15vh 35vw;
  max-height: 50vh;


}

#logo {
  display: inline-flex;
  height: 25vh;
  img {
    max-height: 100%;
    height: 100%;
  }
  padding-bottom: 10vh;
}

#text {
  font-size: 14px;
  text-align: center;
  a, p {
    font-family: 'Gilda Display', serif;
    text-decoration: none;
  }
  p {
    color: #EEE9A1;
  }
  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    a {
      text-decoration: underline;
      color: white;
    }
  }
}

.bottom-margin {
  padding-bottom: 1vh;
  height: 4vh;
}

#header-bar {
  padding: 0 0.5em;
  font-size: 13px;
  color: #EEE9A1;
}

