#header {
display: flex;
height: 15%;
div {
  flex-grow: 1;
  }
}

.logo {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  a {
    height: 100%;
  }
  a img {
    height: 100%;
    width: auto;

  }
}

.languages {
  display: flex;
  justify-content: flex-end;
}

#wrapper {
  height: 80%;
}

#navbar {
  height: 3%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  span {
    flex-grow: 1;
    color: #EEE9A1;
  }
  padding-bottom: 1%;
}

#legal-mention {
  height: 1%;
  color: gray;
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  p {
    margin: 0;
  }
}

