#film {
  background-color: transparent;
}
.modal-header {
  height: 1em;
  background-color: transparent;
  color: black;
}

.modal-dialog {
  width: 100%;
  margin: auto;
}
.modal-content, .modal-body {
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 100%;
}

video {
  width: 100%    !important;
  height: auto;

}

.modal {
  margin: auto;
}

.close {
  span {
    font-size: 21px;
  }
}