#film {
  background-color: black;
}

.modal-header {
  height: 1em;
  color: black;
}

.modal-dialog {
  width: 100%;
  margin: auto;
}
.modal-content, .modal-body {
  box-shadow: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: black;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
    text-align: end;
  }
}

#video {
  max-height: 100%;
  max-width: 100%;
  height: 1000%;
  width: auto;
  margin: 0 auto;
}

.modal {
  margin: auto;
}

button.close {
  span.mobile-span {
    font-size: 4em;
    color: grey;
  }
}