#history {
  display: inline-flex;
  flex-direction: row;
}
.text {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 70%;
  height: 70%;
  flex-wrap: nowrap;
  justify-content: space-between;
  div {
    width: 50%;
    overflow: auto;
    height: 100%;
    margin-right: 2em;
  }

}