.page {
  display: flex;
  flex-direction: column;
}
#text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 5%;
  width: 60%;
  height: 70%;
  overflow: auto;
}

.down-scroll, .up-scroll {
  height: 5vh;
  width: 60%;
  cursor: pointer;
  padding-left: 30%;
  img {
    height: 100%;
  }
  z-index: 10;

}
