<h3 class='types'>
  CUVEE MILLESIME 2009 
  <br>
  100% GRAND CRU CLASSÉ</h3>
<div>

    <p>
      Notre millésime exprime toute la puissance et la spécificité du Pinot Noir de nos vignes classées Grand Cru, à Bouzy. Vin de caractère, structuré, il saura séduire les amateurs de champagne racé. 
    </p>
    <ul>
      <li>Assemblage Chardonnay (20%) et Pinot Noir (80%)</li>
      <li>Absence de fermentation malolactique</li>
      <li>Affinage en cave plus long que la durée légale</li>
    </ul>

    <p>
      Un champagne qui se prête selon vos envies, aux mets les plus sophistiqués (foie gras, saumon fumé ou gravlax) comme aux associations les plus créatives (pata negra, poissons marinés, cuisine japonaise, mangue et fruits de la passion)
    </p>

</div>
