<h3 class='types'>EXTRA BRUT</h3>
<div>
  <ul>
    <li>Mix of Chardonnay (30%) and Pinot Noir (70%)</li>

    <li>Low sugar content - Extra Brut (5 g)</li>

    <li>No malolactic fermentation</li>

    <li>Cellar aging period longer than the legal standard</li>
  </ul>

  <p>
    The first thing you will notice about this cuvee is its stunning freshness. At the sight of it and with the first sip the subtlety and elegance of the bubbles would give a hint of chardonnay, while the second note reveals the Pinot Noir that structures this wine and gives it a lasting aftertaste.
  </p>

  <p>
    Perfect for receptions and aperitifs, this wine goes perfectly with both sweet and savory dishes.
  </p>

</div>

