<h3 class='types'>EXTRABRUT</h3>
<div>
  <ul>
    <li>Assemblage Chardonnay (30%) et Pinot Noir (70%)</li>

    <li>Faiblement dosé en sucre - Extra Brut (5%) </li>

    <li>Absence de fermentation malolactique</li>

    <li>Affinage en cave plus long que la durée légale</li>
  </ul>

  <p>
    Cette cuvée vous surprendra dans un premier temps par son étonnante fraicheur. Au regard et aux premières notes en bouche, la finesse et l’élégance des bulles vous aiguillera sur un assemblage de chardonnay… avant de révéler en seconde note la charpente du Pinot Noir qui structure ce vin et lui apporte une bonne longueur en bouche.
  </p>

  <p>
    Idéal pour vos réceptions et apéritifs, il saura aussi bien s’associer aux mets salés comme sucrés.
  </p>

</div>
