<div>
  <h2>Notre Histoire</h2>

  <p>Lucien Collard est le descendant d’une famille champenoise  qui cultivait la vigne à Bouzy dès le XVIIe siècle, avant même l’avènement du champagne, lorsque nos vins étaient encore tranquilles.</p>

  <p>Ses deux premières cuvées témoignent d une légitime ambition : faire partager son goût d’un champagne d’exception issu du Pinot Noir.</p>

  <p>La famille Collard s’est établie à Bouzy en 1919 par le mariage de Lucien Collard – grand père de l’actuel propriétaire de la Maison- et de Julia Bara. Lui dirigeait alors, à la suite de son père, un des grands vignobles champenois. Elle était issue d’une famille de vignerons installée dans ce Grand Cru depuis 1833.</p>

  <p>De cette union est née une véritable tradition familiale puisque chaque génération s’est attachée à poursuivre l’exploitation du domaine de Bouzy tout en gérant les vignobles de grandes Maisons de champagne.
  </p>

  <p>Lucien Collard est également un véritable passionné qui a réuni une collection unique d’objets liés au champagne. Que ce soit à travers notre film de présentation, les visuels de notre site internet, ou encore notre étiquette pensée à partir d’archives du XIXe siècle… nous vous ouvrons les portes de notre collection privée et vous invitons à partager notre passion de l’Histoire du champagne.
  </p>
</div>
