<div>
  <h2>Notre Philosophie</h2>
  <p>Nous apportons beaucoup de vécus à nos champagnes, et nous vous livrons un vin de qualité qui doit vous donner pleinement satisfaction.</p>
  <p>Aussi nous vous recommandons quelques règles simples :</p>
   
  <h4>1 / la température de service</h4>
  <p>C’est un élément primordial pour apprécier le champagne, servi tiède, le meilleur sera décevant. La bouteille doit donc être correctement rafraichi (8°), quelques heures au réfrigérateur pouvant se révéler insuffisantes, le mieux est de prévoir une nuit, ou une journée. </p>
  <p>Et l’idéal est d’avoir toujours 2 bouteilles au frais, pour accueillir dignement des amis ou pour célébrer… l’instant qui passe !</p>
  <p>Pendant le service, la bouteille doit être maintenue dans un sceau à champagne garni de glace, afin de maintenir sa fraicheur.</p>
  <p>Les verres doivent être remplis, tout au plus, à la moitié de leur capacité. On reservira régulièrement à ses invités un champagne frais.</p>

  <h4>2 / La verrerie</h4>
  <p>Il faut qu’elle participe au plaisir de tous les sens : la vue, l’odorat, le goût, bien sûr, mais aussi le toucher : faire jouer le vin dans un verre, pourquoi pas ?</p>
  <p>La coupe, discrète et charmante, est peu adaptée… dommage ! Elle sonnait bien dans les fêtes de famille…</p>
  <p>La flute peut être redoutable, si elle ne permet pas au vin de s’exprimer. Une flute trop fine et trop étroite accélère aussi le réchauffement du vin. Mieux vaut parfois avoir recours à des classiques verres à vin.</p>
  <p>S’assurer que les verres n’ont pas été lavés avec un détergent : les bulles n’y résisteraient pas. Elles sont un élément du plaisir, mieux vaut donc éviter les verres de couleur, ou aux décors variés.</p>
   
  <h4>3 / Ouvrir la bouteille</h4>
  <p>Pour ouvrir une bouteille de champagne, la pencher de 30° environ, maintenir le bouchon et faire tourner légérement la bouteille au niveau de l’étiquette, ou par le fond.</p>
  <p>Le bouchon doit être retiré par une ouverture délicate et élégante.</p>
  <p>Avec un champagne de qualité, servi à bonne température aucun débordement intempestif n’est à redouter (mieux vaut éviter de secouer la bouteille, exercice réservé aux arrivées de Grand Prix et à certaines plages).</p>
  <p>Les champenois évitent en général le sabrage. Cette pratique, qui peut être amusante, évoque en effet le pillage des caves par les armées prussiennes au XIXe siècle, « ils boivent, ils paieront » avait dit la Veuve Clicquot. </p> 
   
  <h4>4 / Et après ?</h4>
  <p>Les instants « champagne » sont des parenthèses heureuses, dans un moment privilégié. On boit à l’amitié, au plaisir, à la mémoire… sans trop de retenue, avec simplicité… et l’alchimie opère, naturellement !</p>
</div>