<div>
  <h2>Nos Vignes</h2>
   
  <p>Viticulteur à Bouzy, Lucien Collard s’attache à produire des champagnes de haute qualité, représentatifs du caractère du cépage Pinot Noir. </p>

  <p>Le Pinot Noir, particulièrement marqué à Bouzy est ainsi équilibré dans nos cuvées par une proportion relative de Chardonnay allant jusqu’à jouer à la frontière des Blancs de Noirs, reflets de l’alchimie propre aux origines mêmes du champagne.</p>

  <h4>Le Pinot Noir</h4>

  <p>Pour connaitre l’origine des cépages champenois, il nous faut revenir à l’époque de la conquête romaine et des Croisades ou des pieds de vignes venus d’Orient ont été implantés par provignage dans nos régions.</p>

  <p>Il en résulte à l’époque des centaines de cépages ou chaque cru, ou presque, bénéficie d’un cépage spécifique. Mais ce n’est qu’après le fléau du phyloxéra (19e siècle) où l’on dû arracher tous les pieds de vignes pour les remplacer par des pieds américains où l’on greffa nos cépages d’origine, que le Pinot Noir prit ses lettres de noblesse.</p>

  <p>La vente en gros de plans greffés puis la reproduction In Vitro de la vigne uniformisent progressivement les cépages, sauf… ceux de certains irréductibles !</p>

  <p>Lucien Collard en fait parti et replante en 1919 ses pieds de vigne selon une sélection avec un cépage noir issu des pépinières Moet et Chandon dont il dirigeait les vignerons.</p>

  <p>
    Nos vignes du Cercets et Bout de Four à Bouzy témoignent encore de ce travail et vous offre donc un cépage de Pinot Noir « Grand Cru » unique.
  </p>

   
  <h4>Bouzy - Grand Cru classé</h4>

  <p>La champagne s'est doté dans les années 1920 d'une échelle des crus officielles qui reprenait les échelles antérieures des courtiers en vins. Cette échelle officielle s'est sensiblement réduite aujourd’hui par l'amélioration générale des pratiques. Il reste que certains crus se distinguent nettement, formant la base des très grands assemblages, et sont par conséquent très recherchés.</p>
  <p>Beaucoup d'étiquettes arborent la mention 1er cru et beaucoup sont convaincus que ces 1ers crus ne peuvent être que les meilleurs. Et bien non! Au dessus des premiers, il y a les grands. Si l'on y réfléchit la notion de 1er est assez scolaire.. .tandis que celle de grand... donne une toute autre dimension, philosophique, morale que nous vous invitons à découvrir dans notre cuvée Millésime 2009, 100% Grand cru.</p>
</div>
