<h3>
<h3>
  Votre nouveau site Champagne Lucien Collard arrive bientôt !
  <br>
  En attendant, vous pouvez toujours nous contacter à <span id='email-link'><a href='mailto:contact@champagne-lucien-collard.com'>contact@champagne-lucien-collard.com</a></span>.
</h3>