<div class="modal show" id="film" tabindex="-1" role="dialog" aria-labelledby="film">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <%= button_to root_path, class: 'close', method: :get do %>
            <span aria-hidden="true" class="mobile-span">&times;</span>
          <% end %>
        </div>
        <%= video_tag 'presentation.mp4', type: 'video/mp4', autoplay: true, autobuffer: true, controls: true, id: 'video-mobile' %>
      </div>
    </div>
  </div>
</div>

<script>
playVideo();
function playVideo(){
    var video = document.getElementById('video');
    console.log(video);
    video.play();
    video.addEventListener('ended',function(){
        window.location = '<%= "#{root_path}" %>';
    });
}

</script>
