<div class="modal show mobile-modal" id="film" tabindex="-1" role="dialog" aria-labelledby="film">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= video_tag 'presentation.mp4', type: 'video/mp4', autoplay: true, autobuffer: true, controls: true, id: 'video-mobile' %>
        <div class='skip-mobile'>
          <%= button_to root_path, class: 'close', method: :get do %>
            <span aria-hidden="true"><%= t('pass')%></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
playVideo();
function playVideo(){
    var video = document.getElementById('video-mobile');
    console.log(video);
    video.play();
    video.addEventListener('ended',function(){
        window.location = '<%= "#{root_path}" %>';
    });
}

</script>
