<div class="types-mobile-container">
  <div class="arrows-mobile">
    <%= render 'blue_text'%>
  </div>
  <div class="right-mobile-arrow">
    <span id="right-mobile-arrow" class="mobile-arrow"> <%= image_tag 'arrow_right.png'%> </span>
  </div>
</div>
<script>
  var text = $('.arrows-mobile');

  var textBlack = '<%=j render 'black_text'%>';
  var textBlue = '<%=j render 'blue_text'%>';
$('#right-mobile-arrow').click(function(){
  var bg = $('div:first');
  $('#wrapper-mobile').fadeOut(800).queue(function(){
    if (bg.hasClass('bg8blue-mobile')) {
      bg.removeClass('bg8blue-mobile').addClass('bg8black-mobile');
      text.html(textBlack);

     } else if (bg.hasClass('bg8black-mobile')) {
      bg.removeClass('bg8black-mobile').addClass('bg8blue-mobile');
      text.html(textBlue);
     }
  $('#wrapper-mobile').dequeue();
  $(bg).fadeIn(1200);
  $('#wrapper-mobile').fadeIn(1200);
  });
});

</script>