<div class="types-mobile-container">
  <div class="arrows-mobile">
    <%= render 'blue_text'%>
  </div>
  <div class="right-mobile-arrow">
    <span id="right-mobile-arrow" class="mobile-arrow"> <%= image_tag 'arrow_right.png'%> </span>
  </div>
</div>
<script>
  var text = $('#types-content');
  var textBlack = '<%=j render 'black_text'%>';
  var textBlue = '<%=j render 'blue_text'%>';
$('#right-mobile-arrow').click(function(){
      var bg = $('div:first');

      $('body').fadeOut(800);
        if (bg.hasClass('bg8blue-mobile')) {
          bg.removeClass('bg8blue-mobile').addClass('bg8black-mobile');
          text.html(textBlack);
          $('body').fadeIn(1200);

         } else if (bg.hasClass('bg8black-mobile')) {
          bg.removeClass('bg8black-mobile').addClass('bg8blue-mobile');
          text.html(textBlack);
          $('body').fadeIn(1200);
         }
      $('body').fadeIn(1200);
       });

</script>