<div class="arrows">
  <span id="left-arrow"> <%= image_tag 'arrow_left.png'%> </span>
  <h3>Découvrez notre gamme de champagne Lucien Collard</h3>
  <span id="right-arrow"> <%= image_tag 'arrow_right.png'%> </span>
</div>