<div id="header">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>

  <div class="languages">
    <%= link_to 'EN', locale: 'en' %> 
    <span> || </span> 
    <%= link_to 'FR', locale: 'fr' %>
  </div>
</div>